<div class="container">
  <nav aria-label="breadcrumb" class="main-nav">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a routerLink="/">Home</a></li>
      <li class="breadcrumb-item active" aria-current="page">Cart</li>
    </ol>
  </nav>
  <h4 style="margin: 20px 0">Cart details</h4>
  <div class="cart">
    <div>
      <table class="table">
        <thead>
          <tr>
            <th scope="col">Image</th>
            <th scope="col">Name</th>
            <th scope="col">Price</th>
            <th scope="col">Quantity</th>
            <th scope="col">Total</th>
            <th scope="col">Action</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th>1</th>
            <td>Mark</td>
            <td>Otto</td>
            <td>@mdo</td>
          </tr>
        </tbody>
      </table>
    </div>
    <div>
      <h5>Summary of your cart</h5>
      <div>
        <div></div>
        <div></div>
        <button>Proced to checkout</button>
      </div>
    </div>
  </div>
</div>
