.main-nav {
    margin-top: 30px;
}

.shop {
    display: flex;
}

.shop h5 {
    margin: 20px 0;
}

.category {
    flex: 1;
}

.list-product {
    flex : 4;
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    margin-top: 63px;
    padding:0 20px;
}