.product {
    display: flex;
}

.product img{
    width: 80%;
    border: 1px solid gainsboro;
    border-radius: 10px;
}

.product .product-image {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.product .product-detail {
    padding-top: 20px;
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 20px;
}